html {
  font-family: 'Lilita One', cursive;
  font-size: 1em;
  line-height: 1.4;
  --background: #040F16;
}

body {
  min-height: 100vh;
  text-align: center;
  background-color:#ffaf99;
  background-image:
  radial-gradient(at 74% 30%, hsla(255,77%,73%,1) 0px, transparent 50%),
  radial-gradient(at 19% 69%, hsla(158,71%,62%,1) 0px, transparent 50%),
  radial-gradient(at 79% 49%, hsla(132,72%,66%,1) 0px, transparent 50%),
  radial-gradient(at 95% 74%, hsla(263,86%,75%,1) 0px, transparent 50%),
  radial-gradient(at 89% 40%, hsla(294,80%,66%,1) 0px, transparent 50%),
  radial-gradient(at 96% 25%, hsla(305,91%,64%,1) 0px, transparent 50%),
  radial-gradient(at 49% 28%, hsla(210,73%,78%,1) 0px, transparent 50%);
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.w {

}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}